    html
    {
        font-family: 'Courgette', cursive;
    }

    .seleccionado
    {
        color: #850000;
        font-size: 30px;
        text-align: center;
        width: 50%;
        opacity: 0.5;
    }

    .titulo
    {
        font-size: 100px;
    }

    #elemento3
    {
        color: #FFDB89;
    }


    #capa2
    {
        background-color: #850000;
        border: 10 solid #FFDB89;
        margin-bottom: 300px;
    }

    a:link
    {
        color:#850000;
    }

    a:visited
    {
        color: #DC0000;
    }

    a:hover
    {
        background-color: #FFDB89;
    }

    a:active
    {
        color: #FFB100;
    }
